.sendForm {
    display: flex;
    justify-content: space-between;
}

.textarea {
    display: block;
    padding: 12px 24px 0;
    border-radius: 20px;
    width: 976px;
    min-height: 40px;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background: #f5f7fb;
    resize: none;
}

.button {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #06c;
    border: 2px solid #06c;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}
.button:hover {

}
.button:active {

}
